parameters:
	paths:
		- src
		- tests
		- civiremote_funding.module
	scanFiles:
		- vendor/drupal/core/tests/Drupal/Tests/UnitTestCase.php
		- vendor/drupal/core/modules/file/file.module
	bootstrapFiles:
		- vendor/autoload.php
	level: 9
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		checkedExceptionClasses:
			- \Assert\AssertionFailedException
		implicitThrows: false
	ignoreErrors:
		# Note paths are prefixed with ""*/" to work with inspections in PHPStorm because of:
		# https://youtrack.jetbrains.com/issue/WI-63891/PHPStan-ignoreErrors-configuration-isnt-working-with-inspections
		- '/^Method Drupal\\Core\\Form\\FormBuilderInterface::getForm\(\) invoked with \d+ parameters, 1 required.$/'
		- '/^Parameter #1 \$form \(array<int\|string, mixed>\) of method [^\s]+::(build|validate|submit)Form\(\) should be contravariant with parameter \$form \(array\) of method Drupal\\Core\\Form\\(FormInterface|FormBase)::(build|validate|submit)Form\(\)$/'
		- '#^Method Drupal\\civiremote_funding\\Form\\[^\s]+Form::(buildForm|submitForm)\(\) has parameter \$form with no value type specified in iterable type array.$#'
		- '#^Method Drupal\\civiremote_funding\\Form\\[^\s]+Form::buildForm\(\) return type has no value type specified in iterable type array.$#'
		- '/^Parameter #(3|4) \$(jsonSchema|uiSchema) of method Drupal\\json_forms\\Form\\AbstractJsonFormsForm::buildForm\(\) expects stdClass\|null, mixed given.$/'
		# Happens in classes implementing ContainerInjectionInterface::create()
		- '/ constructor expects [^\s]+, object\|null given.$/'
		-
			message: '/^Parameter #1 \$value of static method Drupal\\civiremote_funding\\Api\\[^:]+::fromApiResultValue\(\) expects array\{.+\}, array<int\|string, mixed> given.$/'
			path: */Api/FundingApi.php
		-
			message: '/^Parameter #1 \$arrays of static method Drupal\\civiremote_funding\\Api\\DTO\\[^:]+::allFromArrays\(\) expects array<.+>, array<int\|string, mixed> given.$/'
			path: */Api/FundingApi.php
		- '/ no value type specified in iterable type Drupal\\file\\FileInterface/'
		- '/^Access to an undefined property Drupal\\Core\\Field\\FieldItemListInterface::\$(value|entity|target_id).$/'
		- '/^Parameter #1 [^\s]+ of method Drupal\\Core\\TypedData\\DataDefinition::set[^\s]+\(\) expects string, Drupal\\Core\\StringTranslation\\TranslatableMarkup given.$/'
		- '/::delete\(\) should be contravariant with parameter \$entities \(array\) of method Drupal\\Core\\Entity\\[^\s]+::delete\(\)$/'

		-
			message: '/ no value type specified in iterable type /'
			path: '*/tests/src/Unit/File/Entity/AbstractEntityMock.php'
		-
			message: '/ never returns [^\s]+ so it can be removed from the return type.$/'
			path: '*/tests/src/Unit/File/Entity/*Mock.php'
	tmpDir: .phpstan
