<h2>{{ civiremote_funding_application_history.application_title }}</h2>

{{ civiremote_funding_application_history.back_link ? civiremote_funding_application_history.back_link : '' }}

{{ civiremote_funding_application_history.filter }}

{{ civiremote_funding_application_history.activities }}
